@font-face {
  font-family: "myFont"; /* IE9 Compat Modes */
  src: url("./resources/fonts/Lato-Regular.ttf"); /* Super Modern Browsers */
}
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: myFont;
}
body {
  background-color: #ecf0f0;
}
button,
input {
  outline: none;
}
.revenue-minimun {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.revenue-minimun > .half-box {
  width: 47.5%;
}
.revenue-minimun > .half-box > .revenue-title {
  color: #4d4e4e;
  font-size: 1.2rem;
  font-weight: 900;
}
.content-size {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.content-size > .box-style {
  height: 35rem;
  width: 100%;
}
.content-size > .box-style > .input-size {
  font-family: myFont;
  color: #bebebe;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  outline: none;
  width: 90%;
}
.content-size > .box-style > .input-size > .input-style {
  border-radius: 0.3rem;
  border: 0.09rem solid #b2b5b5;
  padding-left: 0.9rem;
  box-sizing: border-box;
  font-size: 1.3rem;
  height: 2.2rem;
  width: 100%;
}
.content-size > .box-style > .input-size > .second-input {
  border: 1px solid #b2b5b5;
  padding-right: 0.9rem;
  box-sizing: border-box;
  text-align: right;
  width: 75%;
}
.content-size > .box-style > .stores-pages {
  margin-top: 1rem;
  text-align: center;
}
.content-size > .box-style > .stores-pages > button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.content-size > .box-style > .stores-pages > button > .image-style {
  width: 0.8rem;
}
