@font-face {
  font-family: 'LataBold';
  src: url('../../resources/fonts/Lato-Bold.ttf');
}

.header {
  align-items: center;
  background-color: #3480b2;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 4rem;
  padding-left: 3rem;
}
.header__title {
  color: #fff;
  font-family: LataBold;
  font-size: 1.7rem;
}
