@font-face {
  font-family: "myFont"; /* IE9 Compat Modes */
  src: url("../../resources/fonts/Lato-Regular.ttf"); /* Super Modern Browsers */
}

.list-style {
  border-radius: 0.3rem;
  margin: 0 auto;
  width: 90%;
  height: 65vh;
}
.list-style > .ul-position {
  background-color: #fff;
  border: 0.05rem solid #cacccc;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  color: #424242;
  margin: 0 auto;
  padding: 0;
  font-size: 0.5rem;
  font-family: myFont;
  height: auto;
  font-weight: 100;
}
.list-style > .ul-position > .item-list {
  align-items: center;
  border-bottom: 0.01rem solid #d0d0d0;
  display: flex;
  justify-content: space-between;
  height: 5.9vh;
}
.list-style > .ul-position > .item-list > .item-style {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
}
.list-style > .ul-position > .item-list > .item-style > .revenue-style {
  margin-right: 1rem;
}
.red-text {
  color: #a32020;
}
